body{
	background-color: #fff8dc;
}
h1, h2, h3{
	border-width: 0 0 0 8px;
	border-style: solid;
	padding-left: 0.3em;
	position: 0.5em;
}
h1{
	margin: 0;
	font-size: 1.2em;
	color: white;
	border-color: #fff8dc;
	background-color: maroon;
	border-width: 0.1em 0px 0.1em 0.1em;
	padding: 0.2em 0.5em 0.2em 0.3em;
}
h2{
	font-size: 1.2em;
	color: navy;
	border-color: navy;
}
h3{
	font-size: 1em;
	color: darkgreen;
	border-color: darkgreen;
}
table{
	border-width: 1px 2px 2px 1px;
	border-style: solid;
	border-color: gray;
	padding: 0;
	background-color: gray;
}
th, td{
	border-width: 1px 0 0 1px;
	border-style: solid;
	background-color: gray;
	padding: 4px;
	background-color: #ffffef;
}
th{
	text-align: center;
	font-weight: 800;
	background-color: #a0b8c8;
}